.week-specials {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 1.25rem;
}

.week-specials-header {
  grid-column: 1 / 4;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 1.875rem;
}
.button-primary{
  color: azure;
}
.week-specials-header h2 {
  line-height: 1;
  font-family: "Markazi Text";
  font-weight: normal;
  font-size: 2.5rem;
}

/*-- Media queries ------------------------------------------------------*/

@media (max-width: 960px) {
.week-specials {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.week-specials-header {
  grid-column: 1 / 3;
}
.button-primary{
  min-height: 50px;
}
}
@media (max-width: 720px) {
  .week-specials {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .week-specials-header {
    grid-column: 1 / 2;
  }
  }

@media (max-width: 484px) {
.week-specials {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

.week-specials-header {
  grid-column: 1 / 2;
}
.button-primary{
  width: 30%;
  height: 60%;
  font-size: large;
  align-self: center;
}
}