.menu-appetizers,
.menu-main-course,
.menu-dessert {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 10%;
  margin-right: 10%;
  gap: 1.25rem;
}

.menu-header h2 {
  line-height: 1;
  font-family: "Markazi Text";
  font-weight: normal;
  font-size: 2.5rem;
}

.menu-header {
  margin-top: 3%;
  margin-left: 12%;
}

.meal-card {
  flex-basis: calc(33.33% - 1.25rem);
  max-width: calc(33.33% - 1.25rem);
}

@media (max-width: 960px) {
  .meal-card {
    flex-basis: calc(50% - 1.25rem);
    max-width: calc(50% - 1.25rem);
  }
}

@media (max-width: 692px) {
  .meal-card {
    flex-basis: 100%;
    max-width: 100%;
  }
}